.container1{
  background-image: url(bg.png);
  height: 600px;
  margin: -8px;
}
#heading{
  margin-top: 30px;
  margin-left: 100px;
}
#searchbar{
  margin-left: 100px;
  width: 600px;
  border: 0px;
  border-bottom: 2px solid white;
  background: none;

}
#profileicon{
  margin-left: 350px;
}
#welcome{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: -420px;
  margin-left: 250px;
  margin-right: 250px;
  color: white;
  font-size: 65px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
#startbutton{
  height: 60px;
  width: 300px;
  background: #f511b1;
  margin-top: 20px;
  margin-left: 550px;
  border: 0px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
}
#moviehead1{
  padding-left: 65px;
  padding-top: 120px;
}

.container2{
  margin-left: 15px;
  padding-top: 30px;
  padding-left: 50px;

}
.container3{
  margin-left: 15px;
  padding-top: 30px;
  padding-left: 30px;

}
.container4{
  margin-left: 15px;
  padding-top: 30px;
  padding-left: 30px;

}
.container5{
  margin-left: 15px;
  padding-top: 30px;
  padding-left: 30px;

}
#moviehead2{
  padding-left: 65px;
  padding-top: 60px;
}
img{
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
.container6{
  background: #404240;
  max-width: 100%;
  height: 180px;
  margin-top: 30px;
}
#fbicon{
  color: white;
  background: #404240;
  margin-left: 600px;
  margin-top: 50px;
}
#twittericon{
  color: white;
  background: #404240;
  margin-left: 80px;
  margin-top: 50px;
}
#youtubeicon{
  color: white;
  background: #404240;
  margin-left: 80px;
  margin-top: 50px;

}
#copyrighticon{
  color: white;
  margin-left: 600px;
  height: 18px;
}
#copyrightsentence{
  color: white;
  font-family: 'Gugi', cursive;
  font-weight: normal;
  font-size: 22px;
}
